<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세 성공</title>
</head>
<body>
    <h1>상세 성공</h1>
    <p>MID: <%= mid %></p>
    <p>예측된 클래스: <%= predictedClassCNN %></p>
    <p>URL: 재검사</p>
    <a href="http://192.168.0.8:5011/interior/<%= mid%>">인테리어 재검사</a>
</body>
</html>